In [89]:
import numpy as np 
import pandas as pd 
from datetime import datetime
import ast
import random

import os

In [90]:
df_2000s = pd.read_csv("/kaggle/input/spotify-top-2000s-mega-dataset/Spotify-2000.csv")
df_2000s.head()

,Index,Title,Artist,Top Genre,Year,Beats Per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Length (Duration),Acousticness,Speechiness,Popularity
0,1,Sunrise,Norah Jones,adult standards,2004,157,30,53,-14,11,68,201,94,3,71
1,2,Black Night,Deep Purple,album rock,2000,135,79,50,-11,17,81,207,17,7,39
2,3,Clint Eastwood,Gorillaz,alternative hip hop,2001,168,69,66,-9,7,52,341,2,17,69
3,4,The Pretender,Foo Fighters,alternative metal,2007,173,96,43,-4,3,37,269,0,4,76
4,5,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002,106,82,58,-5,10,87,256,1,3,59

In [91]:
df_2000s.rename(columns={'Song Name':'Title'},inplace=True)
df_2000s = df_2000s.drop('Index', axis=1)
df_2000s.head()

,Title,Artist,Top Genre,Year,Beats Per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Length (Duration),Acousticness,Speechiness,Popularity
0,Sunrise,Norah Jones,adult standards,2004,157,30,53,-14,11,68,201,94,3,71
1,Black Night,Deep Purple,album rock,2000,135,79,50,-11,17,81,207,17,7,39
2,Clint Eastwood,Gorillaz,alternative hip hop,2001,168,69,66,-9,7,52,341,2,17,69
3,The Pretender,Foo Fighters,alternative metal,2007,173,96,43,-4,3,37,269,0,4,76
4,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002,106,82,58,-5,10,87,256,1,3,59

In [92]:
temp_genre_list = []
temp_duration_list = []
temp_energy_list = []
temp_danceability_list = []
temp_liveness_list = []
temp_valence_list = []
temp_acousticness_list = []
temp_speechiness_list = []
temp_loudness_list = []
for index, row in df_2000s.iterrows():
    inner_list = [row['Top Genre']]
    temp_genre_list.append(inner_list)
    temp_duration_list.insert(len(temp_duration_list), int(row['Length (Duration)'].replace(',', '')) * 1000)
    temp_energy_list.insert(len(temp_energy_list), int(row['Energy']) / 100)
    temp_danceability_list.insert(len(temp_danceability_list), int(row['Danceability']) / 100)
    temp_liveness_list.insert(len(temp_liveness_list), int(row['Liveness']) / 100)
    temp_valence_list.insert(len(temp_valence_list), int(row['Valence']) / 100)
    temp_acousticness_list.insert(len(temp_acousticness_list), int(row['Acousticness']) / 100)
    temp_speechiness_list.insert(len(temp_speechiness_list), int(row['Speechiness']) / 100)
    temp_loudness_list.insert(len(temp_loudness_list), format(row['Loudness (dB)'], '.3f'))
df_2000s['Genre'] = temp_genre_list

df_2000s['Duration (ms)'] = temp_duration_list
df_2000s['Energy'] = temp_energy_list
df_2000s['Danceability'] = temp_danceability_list
df_2000s['Liveness'] = temp_liveness_list
df_2000s['Valence'] = temp_valence_list
df_2000s['Acousticness'] = temp_acousticness_list
df_2000s['Speechiness'] = temp_speechiness_list
df_2000s['Loudness (dB)'] = temp_loudness_list
df_2000s = df_2000s.drop(['Top Genre', 'Length (Duration)', 'Beats Per Minute (BPM)'], axis=1)
df_2000s.head()

,Title,Artist,Year,Energy,Danceability,Loudness (dB),Liveness,Valence,Acousticness,Speechiness,Popularity,Genre,Duration (ms)
0,Sunrise,Norah Jones,2004,0.30,0.53,-14.000,0.11,0.68,0.94,0.03,71,[adult standards],201000
1,Black Night,Deep Purple,2000,0.79,0.50,-11.000,0.17,0.81,0.17,0.07,39,[album rock],207000
2,Clint Eastwood,Gorillaz,2001,0.69,0.66,-9.000,0.07,0.52,0.02,0.17,69,[alternative hip hop],341000
3,The Pretender,Foo Fighters,2007,0.96,0.43,-4.000,0.03,0.37,0.00,0.04,76,[alternative metal],269000
4,Waitin' On A Sunny Day,Bruce Springsteen,2002,0.82,0.58,-5.000,0.10,0.87,0.01,0.03,59,[classic rock],256000

In [93]:
df_2021 = pd.read_csv("/kaggle/input/spotify-top-200-charts-20202021/spotify_dataset.csv")
# df_2021.head()

In [94]:
df_2021.rename(columns={'Song Name':'Title', 'Loudness':'Loudness (dB)'},inplace=True)
df_2021['Year'] = pd.DatetimeIndex(pd.to_datetime(df_2021['Release Date'], errors='coerce')).year
df_2021 = df_2021.drop(['Index', 'Release Date', 'Highest Charting Position', 'Number of Times Charted', 'Week of Highest Charting', 'Streams', 'Artist Followers', 'Weeks Charted', 'Song ID', 'Tempo', 'Chord'], axis=1)
df_2021.head()

,Title,Artist,Genre,Popularity,Danceability,Energy,Loudness (dB),Speechiness,Acousticness,Liveness,Duration (ms),Valence,Year
0,Beggin',Måneskin,"['indie rock italiano', 'italian pop']",100,0.714,0.8,-4.808,0.0504,0.127,0.359,211560,0.589,2017.0
1,STAY (with Justin Bieber),The Kid LAROI,['australian hip hop'],99,0.591,0.764,-5.484,0.0483,0.0383,0.103,141806,0.478,2021.0
2,good 4 u,Olivia Rodrigo,['pop'],99,0.563,0.664,-5.044,0.154,0.335,0.0849,178147,0.688,2021.0
3,Bad Habits,Ed Sheeran,"['pop', 'uk pop']",98,0.808,0.897,-3.712,0.0348,0.0469,0.364,231041,0.591,2021.0
4,INDUSTRY BABY (feat. Jack Harlow),Lil Nas X,"['lgbtq+ hip hop', 'pop rap']",96,0.736,0.704,-7.409,0.0615,0.0203,0.0501,212000,0.894,2021.0

In [95]:
# df_allsongs = pd.merge(df_2000s, df_2021, on="Artist")
df_allsongs = pd.concat([df_2021, df_2000s], ignore_index=True)
df_allsongs.head()

,Title,Artist,Genre,Popularity,Danceability,Energy,Loudness (dB),Speechiness,Acousticness,Liveness,Duration (ms),Valence,Year
0,Beggin',Måneskin,"['indie rock italiano', 'italian pop']",100,0.714,0.8,-4.808,0.0504,0.127,0.359,211560,0.589,2017.0
1,STAY (with Justin Bieber),The Kid LAROI,['australian hip hop'],99,0.591,0.764,-5.484,0.0483,0.0383,0.103,141806,0.478,2021.0
2,good 4 u,Olivia Rodrigo,['pop'],99,0.563,0.664,-5.044,0.154,0.335,0.0849,178147,0.688,2021.0
3,Bad Habits,Ed Sheeran,"['pop', 'uk pop']",98,0.808,0.897,-3.712,0.0348,0.0469,0.364,231041,0.591,2021.0
4,INDUSTRY BABY (feat. Jack Harlow),Lil Nas X,"['lgbtq+ hip hop', 'pop rap']",96,0.736,0.704,-7.409,0.0615,0.0203,0.0501,212000,0.894,2021.0

In [96]:
df_allsongs.insert(0, 'song_id', range(1, 1 + len(df_allsongs)))
df_allsongs.head()

,song_id,Title,Artist,Genre,Popularity,Danceability,Energy,Loudness (dB),Speechiness,Acousticness,Liveness,Duration (ms),Valence,Year
0,1,Beggin',Måneskin,"['indie rock italiano', 'italian pop']",100,0.714,0.8,-4.808,0.0504,0.127,0.359,211560,0.589,2017.0
1,2,STAY (with Justin Bieber),The Kid LAROI,['australian hip hop'],99,0.591,0.764,-5.484,0.0483,0.0383,0.103,141806,0.478,2021.0
2,3,good 4 u,Olivia Rodrigo,['pop'],99,0.563,0.664,-5.044,0.154,0.335,0.0849,178147,0.688,2021.0
3,4,Bad Habits,Ed Sheeran,"['pop', 'uk pop']",98,0.808,0.897,-3.712,0.0348,0.0469,0.364,231041,0.591,2021.0
4,5,INDUSTRY BABY (feat. Jack Harlow),Lil Nas X,"['lgbtq+ hip hop', 'pop rap']",96,0.736,0.704,-7.409,0.0615,0.0203,0.0501,212000,0.894,2021.0

In [97]:
df_allsongs.to_csv('spotify_songs.csv')

In [98]:
pip install faker

Requirement already satisfied: faker in /opt/conda/lib/python3.7/site-packages (16.6.1)
Requirement already satisfied: typing-extensions>=3.10.0.1 in /opt/conda/lib/python3.7/site-packages (from faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /opt/conda/lib/python3.7/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.4->faker) (1.15.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [99]:
from faker import Faker

In [100]:
users = []
total_users = 100

fake = Faker('en_US')
sex_list = ['F', 'M', 'NA']
val = 1

for i in range(total_users):
    users.append({
            "user_id" : 'U' + str(val).zfill(3),
            "user_name" : fake.name(),
            "city" : fake.city(),
            "country" : fake.country(),
            "age" : random.randint(10,70),
            "occupation" : fake.job(),
            "sex" : np.random.choice(sex_list)
            })
    val = val + 1
        
    
df_user = pd.DataFrame(users)
# df_user.insert(0, 'user_id', range(1, 1 + len(df_user)))
df_user.head()

,user_id,user_name,city,country,age,occupation,sex
0,U001,Douglas Baker,Joseside,Heard Island and McDonald Islands,35,"Scientist, audiological",M
1,U002,Patricia Rodriguez,East Cynthiamouth,Palau,40,Market researcher,M
2,U003,Danielle Perez,Molinaborough,Barbados,24,"Engineer, materials",F
3,U004,Stephanie Smith,Frederickshire,Nepal,30,"Therapist, music",NA
4,U005,Samantha Callahan,Simsview,Sudan,38,"Lecturer, further education",M

In [101]:
df_user.to_csv('users.csv')

In [102]:
# ratings = []
# total_records = 500

# for i in range(total_records):

#     ratings.append({
#             "user_id" : np.random.choice(df_user['user_id']),
#             "song_id": random.randint(1,3549),
#             "rating": random.randint(1,100)
#             })


# df_ratings = pd.DataFrame(ratings)
# df_ratings.head()

In [103]:
# df_ratings.to_csv('ratings.csv')

# Create Query Dataset

In [104]:
song_genre = ['pop', 'rock', 'hip hop', 'r&b', 'dance pop', 'edm', 'pop dance', 'tropical house', 'uk dance', 'modern rock']
queries = []
val = 1

for i,user in df_user.iterrows():
    queries.append({
        "query_id" : 'Q' + str(val).zfill(4),
        "cond_01" : "country=" + user['country']
        })
    val = val + 1
    
    queries.append({
        "query_id" : 'Q' + str(val).zfill(4),
        "cond_01" : "age=" + str(user['age'])
        })
    val = val + 1
    
    queries.append({
        "query_id" : 'Q' + str(val).zfill(4),
        "cond_01" : "genre=" + np.random.choice(song_genre)
        })
    val = val + 1
    
    queries.append({
        "query_id" : 'Q' + str(val).zfill(4),
        "cond_01" : "country=" + user['country'],
        "cond_02" : "genre=" + np.random.choice(song_genre)
        })
    val = val + 1
    
    queries.append({
        "query_id" : 'Q' + str(val).zfill(4),
        "cond_01" : "age=" + str(user['age']),
        "cond_02" : "genre=" + np.random.choice(song_genre)
        })
    val = val + 1
    
    queries.append({
        "query_id" : 'Q' + str(val).zfill(4),
        "cond_01" : "country=" + user['country'],
        "cond_02" : "age=" + str(user['age'])
        })
    val = val + 1
    
    queries.append({
        "query_id" : 'Q' + str(val).zfill(4),
        "cond_01" : "country=" + user['country'],
        "cond_02" : "age=" + str(user['age']),
        "cond_03" : "genre=" + np.random.choice(song_genre)
        })
    val = val + 1
    
    
df_query = pd.DataFrame(queries)
print(df_query.shape)
# df_query.head(20)

(700, 4)

In [105]:
df_query.drop_duplicates(subset=["cond_01", "cond_02", "cond_03"], keep=False, inplace=True)
print(df_query.shape)
df_query.head(20)

(453, 4)

,query_id,cond_01,cond_02,cond_03
1,Q0002,age=35,NaN,NaN
3,Q0004,country=Heard Island and McDonald Islands,genre=tropical house,NaN
4,Q0005,age=35,genre=hip hop,NaN
5,Q0006,country=Heard Island and McDonald Islands,age=35,NaN
6,Q0007,country=Heard Island and McDonald Islands,age=35,genre=modern rock
7,Q0008,country=Palau,NaN,NaN
10,Q0011,country=Palau,genre=pop,NaN
11,Q0012,age=40,genre=pop dance,NaN
12,Q0013,country=Palau,age=40,NaN
13,Q0014,country=Palau,age=40,genre=r&b
17,Q0018,country=Barbados,genre=modern rock,NaN
18,Q0019,age=24,genre=uk dance,NaN
19,Q0020,country=Barbados,age=24,NaN
20,Q0021,country=Barbados,age=24,genre=r&b
24,Q0025,country=Nepal,genre=hip hop,NaN
25,Q0026,age=30,genre=edm,NaN
26,Q0027,country=Nepal,age=30,NaN
27,Q0028,country=Nepal,age=30,genre=pop
28,Q0029,country=Sudan,NaN,NaN
31,Q0032,country=Sudan,genre=uk dance,NaN

In [106]:
df_query.to_csv('query.csv')

In [107]:
query_ratings = []
total_records = 50000

for i in range(total_records):

    query_ratings.append({
            "user_id" : np.random.choice(df_user['user_id']),
            "query_id": np.random.choice(df_query['query_id']),
            "rating": random.randint(1,100)
            })


df_query_ratings = pd.DataFrame(query_ratings)
print(df_query_ratings.shape)

(50000, 3)

In [108]:
df_query_ratings.drop_duplicates(subset=["user_id", "query_id"], keep=False, inplace=True)
print(df_query_ratings.shape)
df_query_ratings.head(10)

(16491, 3)

   user_id query_id  rating
3     U064    Q0544      47
4     U078    Q0286      42
6     U084    Q0271      71
7     U059    Q0412      21
11    U084    Q0475      56
14    U053    Q0257      62
20    U078    Q0411      66
21    U070    Q0502      53
23    U042    Q0550      42
25    U099    Q0193      26

In [109]:
df_query_ratings.to_csv('query_ratings.csv')

In [110]:
query_rating_pivot = df_query_ratings.pivot_table(index = 'user_id', columns = 'query_id', values = 'rating', aggfunc='first').fillna(0)
query_rating_pivot.head(10)

query_id,Q0002,Q0004,Q0005,Q0006,Q0007,Q0008,Q0011,Q0012,Q0013,Q0014,...,Q0686,Q0688,Q0690,Q0691,Q0692,Q0693,Q0694,Q0697,Q0699,Q0700
user_id,,,,,,,,,,,,,,,,,,,,,
U001,0.0,0.0,60.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,8.0,0.0,63.0,73.0,0.0,0.0,35.0,43.0
U002,51.0,75.0,0.0,0.0,0.0,22.0,0.0,80.0,0.0,0.0,...,81.0,0.0,0.0,40.0,0.0,0.0,0.0,63.0,49.0,0.0
U003,0.0,0.0,7.0,18.0,0.0,0.0,0.0,72.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,51.0,0.0,1.0,51.0
U004,0.0,39.0,41.0,0.0,41.0,0.0,95.0,13.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79.0,14.0,0.0
U005,0.0,58.0,5.0,0.0,0.0,0.0,0.0,3.0,0.0,94.0,...,31.0,0.0,11.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
U006,0.0,0.0,0.0,62.0,97.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,45.0,0.0
U007,14.0,0.0,0.0,77.0,15.0,62.0,0.0,0.0,10.0,0.0,...,0.0,0.0,67.0,0.0,0.0,0.0,0.0,0.0,33.0,20.0
U008,58.0,0.0,77.0,90.0,0.0,60.0,93.0,0.0,11.0,21.0,...,0.0,0.0,84.0,0.0,0.0,0.0,52.0,0.0,0.0,0.0
U009,0.0,14.0,0.0,14.0,0.0,0.0,0.0,0.0,92.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79.0,0.0
U010,0.0,23.0,0.0,0.0,91.0,0.0,0.0,0.0,0.0,85.0,...,0.0,0.0,22.0,0.0,0.0,0.0,0.0,18.0,0.0,0.0

In [111]:
df_query_ratings.to_csv('query_ratings.csv')